<!DOCTYPE html>
<html lang="en">
<head>
  <link rel = "stylesheet" href="mycss.css">
  <meta charset="utf-8">
  <title>Pintacats</title>
</head>
<body>
<h1>The PintaCats</h1>
<p>Welcome to the pintacats family.</p>
<div class="awesome">...</div>
<p class="awesome">...</p>

<p id="food">This is food</p>
<ul>
  <li>Tiger</li>
  <li>Panther</li>
  <li>Snow</li>
  <li>Storm</li>
  <li>Insert Pet here</li>
</ul>
</body>
</html>