<h1>Articles listing page</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.description %></td>
      <th><button>Remove</button></th>
      <th><button>Add</button></th>
    </tr>
  <% end %>
  </tbody>
</table>