<h1>Welcome to Pintacats</h1>

<form action="http://localhost:3000/about">
  <input type="submit" value="List of Pintacats" />
</form>
<form action="http://localhost:3000/articles">
  <input type="submit" value="List of Articles"/>
</form>
<form action="http://localhost:3000/pets">
  <input type="submit" value="List of Pets"/>
</form>



<!--<form action="https://lloyd-pintac.herokuapp.com/pets">-->
<!--  <input type="submit" value="Add Pets" />-->
<!--</form>-->
Testing By: Lloyd Pintac
