<h1>Welcome to Pintacats</h1>

<form action="https://lloyd-pintac.herokuapp.com/about">
  <input type="submit" value="List of Pintacats" />
</form>

<!--<form action="https://lloyd-pintac.herokuapp.com/pets">-->
<!--  <input type="submit" value="Add Pets" />-->
<!--</form>-->
Testing By: Lloyd Pintac
